.row {
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
    .row:after {
      clear: both; }
body {
  font-family: 'Source Sans Pro', sans-serif; }

  .container {
    margin: 0 auto;
    max-width: 55em; }

    [class^="col-"]:first-child {
      margin-left: 0; }

      .col-1-2 {
        float: left;
        width: 48.5%;
        margin-left: 3%; }

        .col-8 {
          float: left;
          width: 65.66667%;
          margin-left: 3%; }

          .col-4 {
            float: left;
            width: 31.33333%;
            margin-left: 3%; }


html {
  font-size: 16px;
  line-height: 1.5; }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1 rem;
    margin-bottom: 0.382 rem;
    line-height: 1.125;
    text-rendering: optimizeLegibility; }

    h1 {
      font-size: 2.618 rem; }

      h2 {
        font-size: 1.82 rem; }

        h3 {
          font-size: 1.618 rem; }

          h4, h5, h6 {
            font-size: 1.125 rem; }

            p {
              margin-top: 1 rem;
              margin-bottom: 1 rem; }

              nav ul, nav ol {
                list-style: none;
                margin-left: 0;
                padding-left: 0; }

                ul, ol, dl {
                  margin-top: 0;
                  margin-bottom: 1 rem;
                  line-height: 1.5; }

                  li > ul, li > ol {
                    margin-bottom: 0; }

                    hr {
                      position: relative;
                      margin: 1.5 rem 0;
                      border: 0;
                      border-top: 1px solid #eee;
                      border-bottom: 1px solid #fff; }

                      pre {
                        margin-left: 1.125 rem;
                        white-space: pre-wrap; }

                        code {
                          color: tomato; }

                          kbd, samp {
                            background-color: #eee; }

                            blockquote {
                              padding-right: 5 rem;
                              padding-left: 1.25 rem;
                              margin: 1 rem 0;
                              border-left: 0.25 rem solid #eaeaea; }

                              blockquote p:last-child {
                                margin-bottom: 0; }
