{% extends "layout/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
	<div class="col-1-2">
		<form class="login-form" method="POST" action="/signup">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email(size=120, class="form-control", placeholder="Email") }}
			</div> <!-- .form-group -->

			<div class="form-group">
				{{ form.password(size=120, class="form-control", placeholder="Password") }}
			</div> <!-- .form-group -->

			<div class="form-group">
				{% for error in form.recaptcha.errors %}
					{{ error }}
				{% endfor %}
			
				{{ form.recaptcha }}
			</div> <!-- .form-group -->

			<div class="form-group">
				<input class="button" type="submit" value="Submit">
			</div>
		</form>
	</div> <!-- .col-xs-6 -->
</div> <!-- .row -->

<hr>

{% endblock %}
